@page
@model Assignment.Pages.Classes.DetailsModel
@{
}
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Model.Class.CreateTime.Value.ToString("dd/MM/yyyy")
        </dd>
    </dl>
</div>
<div>
    <button class="edit-btn">
        <a asp-page="./Edit" asp-route-id="@Model.Class?.Id">Edit</a>
    </button>
    <button class="back-list-btn">
        <a asp-page="./Index">Back to List</a>
    </button>

</div>