@page
@model Assignment.Pages.TimeTables.ViewByClassModel
@{
}
<h1>VIew TimeTable By Class</h1>
<form id="myForm">
    <div>
        <label>Select class to view : </label>
        <select asp-for="ClassCodeSelected" id="classSelect">
            @foreach (var item in Model.Classes)
            {
                <option value="@item.Code">@item.Name</option>
            }
        </select>
    </div>
</form>

<table>
    <tr>
        <th></th>
        <th>Moday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    @for (int i = 0; i < 4; i++)
    {
        <tr>
            <td>Slot @(i + 1)</td>
            @for (int j = 0; j < 7; j++)
            {
                if(Model.Data[i,j] != null)
                {
                    <td>(@Model.Data[i,j].SubjectCode) - (@Model.Data[i,j].TeacherCode) - (@Model.Data[i,j].RoomCode)</td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>        
    }
</table>
<script>
    function submitFormOnChange() {
        document.getElementById('classSelect').addEventListener('change', function () {
            document.getElementById('myForm').submit();
        });
    }

    submitFormOnChange();
</script>